.nav {
  background-color: rgb(1, 104, 27);
 
}

.nav-link {
  padding: 0.5em 0.5em;
  margin: 2px;
  color: white;
  display: inline-block;
  font-family: Lobster;
  font-size: 20px;
}

.nav-link:hover {
  background-color: rgb(58, 151, 46);
}

.nav-link:visited {
  color: rgb(255, 255, 255);
}


