header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Lobster;
    font-size: 48px;
}

.HomePage section {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 65%;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 10px;
}

.PlantImages {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    transform: translate(-5rem);
}

.PlantImages img {
    padding-left: 10rem;
}

.HomeButtons {
    display: flex;
    /* margin-top: 1rem; */
    margin-left: 39%;
    margin-right: 39%;
    justify-content: space-between;
}

.plantImageHeader {
    width: 100%;
    padding: 3px;
    border: 2px solid rgb(0, 0, 0);
}

button {
    font-family: Lobster;
    font-size: 20px;
    color: black;
}

.HomePage {
    background: linear-gradient(rgba(228, 228, 228, .10), rgba(72, 53, 4, 0.80));
    height: 100%;
}

.welcome-font {
    font-family: Lobster;
    font-size: 28px;
}

.section-home {
    padding: 10px;
}

.slogan {
    font-family: Tahoma;
}