
.test {
    background-color: rgba(124, 167, 123, 0.1);
    margin-left: 20px;
    
}

.results {
    background-color: rgba(124, 167, 123, 0.1);
    padding-top: 3px;
    padding-bottom: 5px;
    
    
}

.search-results {
    padding-top: 10px;
}
.search {
    background: white;
}
.mainSection {
    
    height: 30vh;
}
.imageRow {
    
    height: 30vh; 
}
.detailRow {
    /* background-color: rgb(30, 78, 168);
    height: 20vh; */
}
.getStartedLists{
    /* height: 15vh; */
}

.MainPage ul {

    /* height: 200px;
    overflow: hidden;
    overflow-y: scroll; */
}

.btn1 {
    font-family: Tahoma;
    font-size: 16px;
    margin-left: 4px;
    
}

.btn2 {
    font-family: Tahoma;
    font-size: 14px;
    margin-left: 6px;
    
}

.user-profile {
    text-align: center;
    padding: 3px;
}